*{
	margin: 0;
	padding: 0;
}
img{
	border: 0;
}
a{
	cursor: pointer;
}
.animate-info{
	margin:0 auto;
	display: block;
	width: 180px;
	height: 50px;
	line-height: 50px;
	background: red;
	font-size:20px;
	text-align: center;
	color: #fff;
	opacity: .3;
}
.hide {
	display: none;
}
#banner {
	width: 700px;
	margin: 0 auto;
}
#slider {
	position: relative;
	width: 700px;
	height: 306px;
	overflow: hidden;
    background-color: #fff;
    font-size:0;
}
#slider a.imglink {
	position: absolute;
	display: block;
	width: 700px;
	height: 306px;
	left:0;
	border: 0;
	padding: 0;
	margin: 0;
	cursor: pointer;
	-webkit-transition: top .5s;
}
#slider a.current {
	top:0;
}
.navwapper{
	margin-top: 20px;
	margin-left: 40%;
}
.navwapper span{
	display: inline-block;
	width: 20px;
	height: 20px;
	border-radius: 20px;
	text-align: center;
	color: #fff;
	background: rgba(102,102,102,0.5);
}
.navwapper span:hover{
	background: #888;
}
.navwapper span.on {
	background: red;
	color: yellow;
}
.arrow {
	position: absolute;
	top: 40%;
	font-size: 20px;
	color: #fff;
	z-index: 100000;
	display: block;
	width: 20px;
	height: 80px;
	background: rgba(102,102,102,0.7);
	text-align: center;
	vertical-align: middle;
	line-height: 80px;
	opacity: 0;
}
.prev {
	left: 0;	
}
.next {
	right: 0;
}