body{
	font: 20px "Lucida Grande", Helvetica, Arial, sans-serif;
    color: #fff;
    height: auto; 
	min-height: 100%;
}
html, body { 
	height: 100%; 
	margin: 0; 
	padding: 0;
}
*{
	margin:0;
	padding: 0;
}
ul li,ol li{
	list-style: none;
}
a{
	text-decoration: none;
}
i{
	font-style: normal;
}
.container{
	width: 100%;
}
body{
    margin: 0 auto;
    min-width: 320px;
    height: 100%;
	background: url(page_bg.jpg) repeat 0 0;
}
.head{
	position: fixed;
	top:0;
	right: 0;
	width: 100%;
	height: 70px;
	background: url(header_bg.png) repeat-x 0 bottom;
	z-index: 100;
}
.head .head-list{
	margin-right: 244px;
	float: right;
}
.head .head-list .head-item{
	float: left;
}
.head .head-item a{
    display: inline-block;
    color: #EDA6AA;
    font-size: 34px;
    margin: 0 12px;
    line-height: 70px;
    font-family: "BlendaScript";
}
.head .head-item a:hover{
	color: #D22529;
}
.content{
	position: relative;
    width: 100%;
    margin-top: 70px;
	padding-bottom: 30px;
}
.content-in{
	width: 960px;
	margin:0 auto; 
	background: url(content_bg.png) no-repeat center top;
}
.content-in .intro{
	padding-left: 400px;
	padding-top: 300px;
	width: 450px;
	height: 220px;
}
.content-in .intro h1{
	font-size: 32px;
	font-weight: bold;
}
.content-in .intro i{
	font-style: italic;
}
.content-in .intro p{
	font-size: 20px;
	line-height: 40px;
}
.content-in .skill{
	width: 1160px;
	height: 300px;
	margin-top: 550px;
}
.content-in .skill .skill-c-l{
	width: 458px;
	height: 200px;
	float: left;
	font-size: 20px;
}
.content-in .skill .skill-c-l .skill-list li{
	margin-top: 20px;
}
.content-in .skill .skill-c-l .skill-list p{
	position: relative;
    width: 440px;
    height: 30px;
    border-radius: 15px;
    background-color: #fff;
    opacity: 0.5;
    text-align: right;
    color: #EDA6AA;
    line-height: 30px;
    padding-right: 10px;
}
.content-in .skill .skill-c-l .skill-list .active{
	position: absolute;
	top: 0px;
    left: 0px;
    width: 377px;
    height: 30px;
    border-radius: 15px;
    background-color: red;
}
.content-in .skill .skill-c-r{
	width: 698px;
	height: 270px;
	float: right;
	font-size: 20px;
	margin-top:25px; 
}
.content-in .skill .skill-c-r li{
	margin: 10px 0;
}
.content-in .skill .skill-c-r p{
	line-height: 28px;
    padding-left: 35px;
}
.content-in .skill .skill-c-r i{
	white-space: nowrap;
    overflow: hidden;
    min-width: 260px;
    max-width: 660px;
}
.content-in .skill .skill-c-r i::before{
	content: "";
	display: inline-block;
	width: 32px;
	height: 32px;
	background: url(icon.png) no-repeat 0 0;
	vertical-align: -10px;
    padding-right: 5px;
}
.content-in .skill .skill-c-r li:nth-child(1){
	margin-left: 170px;
}
.content-in .skill .skill-c-r li:nth-child(2){
	margin-left: 130px;
}
.content-in .skill .skill-c-r li:nth-child(3){
	margin-left: 95px;
}
.content-in .skill .skill-c-r li:nth-child(4){
	margin-left: 55px;
}
.content-in .skill .skill-c-r li:nth-child(5){
	margin-left: 10px;
}
.content-in .skill .skill-c-r li:nth-child(6){
	margin-left: -35px;
}
.content-in .skill .skill-c-r li:nth-child(7){
	margin-left: -80px;
}
.content-in .pro{
	width: 100%;
	height: 460px;
	margin-top: 500px;
}
.content-in .pro li{
	float: left;
	margin-right: 20px;
	height: 370px;
	background: #fff;
	border: 5px solid #E99195;
}
.content-in .pro li a p{
	font-size: 14px;
    color: #888;
    padding-left: 35px;
    padding-top: 15px;
}
.content-in .pro li a:hover p{
	color: #333;
}
.content-in .exp{
	width: 100%;
	margin-top: 510px;
	padding-left: 50px;
}
.content-in .exp .exp-c-l{
	position: relative;
	width: 570px;
	margin-bottom: 30px;
	padding-left: 50px;
}
.content-in .exp .exp-c-l .icon-yuan{
	display: inline-block;
	width: 50px;
	height: 50px;
	position: absolute;
	left: -25px;
	top:10px;
	background-color: #EDA6AA;
	border-radius: 50%;
}
.content-in .exp .exp-c-l article{
	padding: 10px;
	width: 500px;
	background: #fff;
	color: #888;
	line-height: 1.5em;
    border-radius: 10px;
}
.content-in .exp .exp-c-l:nth-child(1) article h3{
	color: #FD1013;
}
.content-in .exp .exp-c-l:nth-child(1) article{
	border-bottom: 10px solid #FD1013; 
}
.content-in .exp .exp-c-l:nth-child(2) article h3{
	color: #FFF100;
}
.content-in .exp .exp-c-l:nth-child(2) article{
	border-bottom: 10px solid #FFF100;
}
.content-in .exp .exp-c-l:nth-child(3) article h3{
	color: #D29F1B;
}
.content-in .exp .exp-c-l:nth-child(3) article{
	border-bottom: 10px solid #D29F1B;
}
.content-in .exp .exp-c-l:nth-child(4) article h3{
	color: #9AC72C;
}
.content-in .exp .exp-c-l:nth-child(4) article{
	border-bottom: 10px solid #9AC72C;
}
.content-in .exp .exp-c-l:nth-child(5) article h3{
	color: #C1242D;
}
.content-in .exp .exp-c-l:nth-child(5) article{
	border-bottom: 10px solid #C1242D;
}
.content-in .contact{
	width: 100%;
	height: 400px;
	margin-top: 245px;
	background: #EDA6AA;
}
.content-in .contact .con-l{
	width: 480px;
	height: 280px;
	float: left;
}
.content-in .contact .con-l h2{
	display: inline-block;
	padding-left: 100px;
	padding-top: 15px;
    font-size: 35px;
    color: #fff;
}
.content-in .contact .con-l em{
	font-style: normal;
	padding: 0 10px;
	color: #CE1F26;
    border-right: 3px solid #fff;
}
.content-in .contact .con-l span{
	font-size: 24px;
	padding-left: 5px;
}
.myqrcode{
	margin-left: 140px;
	margin-top: 20px;
}
.myqrcode img{
	width: 200px;
	height: 200px;
}
.content-in .contact .con-r{
	width: 480px;
	height: 280px;
	float: left;
}
.content-in .contact .con-r a{
	display: block;
	margin-top: 55px;
	color: #fff;
	font-style: normal;
}