*{
	margin:0;
	padding:0;
}
body {
	font-size: 16px;
}
ul,ol,li {
	list-style:none;
}
a {
	text-decoration: none;
	cursor: pointer;
	color: #fff;
}
i {
	font-style: normal;
}
.hide{
	display: none;
}
#tab {
	width: 500px;
	margin: 0 auto;
	margin-top: 100px;
	background: #333;
	color: #fff;
}
#tab ul {
	height: 36px;
	background: #6daaea;
	border-top: 2px solid #ccc;
	border-left: 2px solid #ccc;
	border-right: 2px solid #ccc;
}
#tab ul li {
	display: inline-block;
	float: left;
	width: 100px;
	height: 36px;
	line-height: 36px;
	text-align: center;
	border-right: 2px solid #ccc;
}
#tab ul li.on{
	background: #ccc;
}
#tab ul li a{
	color: #0873c0;
	font-size: 2em;
	font-weight: bold;
}
/*#kind1_detail {
	display: block;
}
#kind2_detail {
	display: none;
}*/
.kind_detail {
	display: block;
	width: 100%;
	color: #333;
	font-size: 1.5em;
	background: #ccc;
}
.kind_detail dd a{
	display: inline-block;
    width: 500px;
    height: 24px;
}
